*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    overflow: hidden;  
}
.area__box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgb(61, 60, 60);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.area__box h1{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.area__box form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}
.area__box form > *{
    margin: 10px 0px;
}
.input{
    outline: none;
    border: none;
    border-bottom: 1.5px solid #111;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0px 10px 10px;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    user-select: none;
    cursor: pointer;
    pointer-events: all;
}
.input:focus{
    border-bottom: 1.5px solid #29dbe4;
}
.input::placeholder{
    text-transform: uppercase;
}

.button {
    padding: 20px 30px;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: -5px -5px 10px #111;
    text-transform: uppercase;
    letter-spacing: 2px;
    user-select: none;
    pointer-events: all;
    border: none;
    transition: all 1s ease;
}
.button:hover{
    background-color: rgb(44, 52, 58);
    color: aliceblue;
    transition: all 1s ease;
}